@model IEnumerable<ProjectManagementSystem.Models.RequirementEffort>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="k-button">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRequirement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTeamMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRequirementEffortType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTimeFrame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeExpended)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRequirement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTeamMember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRequirementEffortType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTimeFrame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeExpended)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="k-button k-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="k-button">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="k-button">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
