@model ProjectManagementSystem.ViewModels.RequirementViewModel

<div class="k-content">
    <form id="requirementPopUpForm" asp-action="Create">
        <input type="hidden" asp-for="@Model.Requirement.IdProject" />
        <ul id="fieldlist">
            <li>
                <label asp-for="@Model.Requirement.RequirementName"></label>
                <input id="requirementName" asp-for="@Model.Requirement.RequirementName" class="k-textbox" />
            </li>
            <li>
                <label asp-for="@Model.Requirement.Description"></label>
                <input asp-for="@Model.Requirement.Description" class="k-textbox" />
            </li>
            <li>
                <label asp-for="@Model.Requirement.IdRequirementType"></label>
                @(Html.Kendo().DropDownListFor(m => m.Requirement.IdRequirementType)
                    .HtmlAttributes(new {style = "width:100%"})
                    .OptionLabel("Select Requirement Type...")
                    .DataTextField("DisplayName")
                    .DataValueField("Id")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("DropDown_RequirementTypes", "Requirements");
                        });
                    })
                    )
            </li>
            <li>
                <p>
                    @(Html.Kendo().Button()
                        .Name("createRequirementButton")
                        .Tag("a")
                        .Icon("plus")
                        .Content("Create Requirement"))
                </p>
            </li>
        </ul>
    </form>
</div>

<script>

    $(document).ready(function () {

        var container = $("#requirementPopUpForm");
        kendo.init(container);

        $("#requirementPopUpForm").kendoValidator({
            // You can define your custom rules here:
            //rules: {}

        });

        $("#createRequirementButton").bind("click",
            function () {
                $.ajax({
                    url: '/Requirements/Create/',
                    type: 'post',
                    data: $('#requirementPopUpForm').serialize(),
                    success: function () {
                        $("#createRequirementButton").closest(".k-window-content").data("kendoWindow").close();
                        $('#requirementPopUpForm')[0].reset();
                    }
                });
            });
    });

</script>

<style>

    #fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: 1em;
        }

        #fieldlist label {
            display: block;
            font-weight: bold;
        }
</style>