@using ProjectManagementSystem.Models
@using ProjectManagementSystem.ViewModels
@model ProjectManagementSystem.ViewModels.RequirementViewModel

    <div class="k-content">
        <div id="requirementPopUpFormTabStrip">
            <ul>
                <li class="k-state-active">
                    General Information
                </li>
                <li>
                    Effort
                </li>
            </ul>
            <div>
                <form id="editRequirementPopUpForm" asp-action="Edit">
                    <input id="editId" type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" asp-for="@Model.Requirement.Id" />
                    <input id="editIdProject" type="hidden" asp-for="@Model.Requirement.IdProject" />
                    <ul id="fieldlist">
                        <li>
                            <label asp-for="@Model.Requirement.RequirementName"></label>
                            <input id="editRequirementName" asp-for="@Model.Requirement.RequirementName" class="k-textbox" />
                        </li>
                        <li>
                            <label asp-for="@Model.Requirement.Description"></label>
                            <input id="editRequirementDescription" asp-for="@Model.Requirement.Description" class="k-textbox" />
                        </li>
                        <li>
                            <label asp-for="@Model.Requirement.IdRequirementType"></label>
                            @(Html.Kendo().DropDownListFor(m => m.Requirement.IdRequirementType)
                                .HtmlAttributes(new { id="editdropdown", style = "width:100%"})
                                .OptionLabel("Select Requirement Type...")
                                .DataTextField("DisplayName")
                                .DataValueField("Id")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("DropDown_RequirementTypes", "Requirements");
                                    });
                                })
                                )
                        </li>
                        <li>
                            <p>
                                @(Html.Kendo().Button()
                                    .Name("editRequirementButton")
                                    .Tag("a")
                                    .Icon("check")
                                    .Content("Update Requirement"))
                            </p>
                        </li>
                    </ul>
                </form>
            </div>
            <div>
                <div id="requirementEffortButtonBox">
                    <button id="addRequirmentEffortButton" type="button" data-role="button" data-icon="plus">Add Requirement Effort</button>
                </div>

                @(Html.Kendo().Grid<RequirementEffortViewModel>()
                    .Name("requirementEffortGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.RequirementEffortType.DisplayName);
                        columns.Bound(c => c.TimeFrame.DisplayName);
                        columns.Bound(c => c.RequirementEffort.DateFrom);
                        columns.Bound(c => c.RequirementEffort.DateTo);
                        columns.Bound(c => c.RequirementEffort.TimeExpended);
                        columns.Bound(c => c.TeamMember.FirstName);
                        columns.Bound(c => c.TeamMember.LastName);
                        columns.Command(command =>
                        {
                            command.Destroy();
                        }).Width(100);
                    })
                    .Navigatable()
                    .Pageable(pageable => pageable
                        .Input(true)
                        .Numeric(false))
                    .Sortable()
                    .Scrollable()
                    )
            </div>
        </div>
    </div>

<script>

    $(document).ready(function () {

        var container = $("#editRequirementPopUpForm");
        kendo.init(container);

        $("#editRequirementPopUpForm").kendoValidator({
            // You can define your custom rules here:
            //rules: {}

        });

        $("#requirementPopUpFormTabStrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });

        $("#editRequirementButton").bind("click",
            function () {
                $.ajax({
                    url: '/Requirements/Edit/',
                    type: 'post',
                    data: $('#editRequirementPopUpForm').serialize(),
                    success: function () {
                        $("#editRequirementButton").closest(".k-window-content").data("kendoWindow").close();
                    }
                });
            });

    });

</script>

<style>

    #fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

    #fieldlist li {
        list-style: none;
        padding-bottom: 1em;
    }

    #fieldlist label {
        display: block;
        font-weight: bold;
    }

    #requirementEffortButtonBox {
        padding-bottom: 10px
    }

</style>